@import "tailwindcss";
 
@theme {
  --color-primary: #00c9b1;
  --color-secondary: #7c5cff;
  --color-bg: #0f0f12;
  --color-surface: #1a1a22;
  --color-card: #23232d;
  --color-muted: #a0a0a8;
  --color-border: #2a2a35;
}
 


